.login-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(30, 31, 45);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 35, 56);
  border: 2px solid rgba(17, 18, 20, 0.3);
  padding: 10px;
  border-radius: 10px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 25px;
}

.login-container form label {
  display: flex;
  flex-direction: column;
  margin: 1px 0;
  color: white;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
}

.login-container form input {
  margin: 15px 0;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.login-container form button {
  height: 30px;
  background-color: rgb(102, 41, 167);
  color: white;
  font-weight: 700;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 25px;
}

.login-container form button:disabled {
  background-color: rgba(102, 41, 167, 0.4);
}

.login-container div img {
  width: 350px;
}
