.header-container {
  background-color: rgb(31, 32, 31);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 80px;
}

.header-container h3 {
  display: inline;
}

.header-container h3:nth-last-child(1) {
  margin-right: 10px;
  color: green;
}

.header-container i {
  margin-right: 5px;
}

.user {
  margin-left: 10px;
}

.header-container span {
  margin-right: 10px;
}
